<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard | Simple - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Responsive bootstrap 4 admin template" name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
</head>

<body>
  <div id="wrapper">
    <%- include('header') %>
      <%- include('sidebar') %>
        <div class="content-page">
          <div class="content">
            <div class="container-fluid">
              <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1" style="background-color: transparent;">
                <a href="/admin" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
                <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                <a class="menu-link menu-link_us-s text-uppercase fw-medium">Offer</a>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="mb-3" style="font-size: 1.25rem; font-weight: bold;"> Product Offer</span>
                  </div>
                </div>
              </div><br>
              <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-8">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h5 class="card-title mb-0">Offer details</h5>
                      <% if (addOfferMsg && addOfferMsg.length> 0) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>
                            <%= addOfferMsg[0] %>
                          </strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <% } %>
                    </div>
                    <div class="card-body">
                      <form action="/admin/offer/addProductOffer" method="POST" id="brand-form"
                        class="p-4 border rounded">
                        <div class="mb-3">
                          <label class="form-label" for="OfferName">Name</label>
                          <input type="text" class="form-control" id="OfferName" placeholder="Offer name"
                            name="OfferName" aria-label="OfferName"
                            value="<%= productData.Offer ? productData.Offer.OfferName : '' %>" required>
                          <input type="hidden" class="form-control" id="selectedBrandId" name="_id"
                            value="<%= productData._id %>" required>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="description">Description</label>
                          <textarea class="form-control" id="description" rows="3" name="Description"
                            placeholder="Enter description"
                            required><%= productData.Offer ? productData.Offer.Description : '' %></textarea>
                        </div>

                        <div class="row mb-3">
                          <% var currentDate=new Date(); var formattedDate=currentDate.toISOString().split('T')[0]; %>
                            <div class="col-md-6">
                              <label class="form-label" for="date-checkin">Start Date</label>
                              <input type="date" id="date-checkin" class="form-control" name="Start"
                                value="<%= formattedDate %>" required readonly>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label" for="date-checkout">End Date</label>
                              <input type="date" id="date-checkout" class="form-control" name="End"
                                value="<%= productData.Offer && productData.Offer.End ? new Date(productData.Offer.End).toISOString().split('T')[0] : '' %>"
                                required>
                            </div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="percentage">Percentage</label>
                          <input type="number" class="form-control" id="percentage" placeholder="Offer percentage"
                            min="0" max="100" name="Percentage" aria-label="Percentage"
                            value="<%= productData.Offer ? productData.Offer.Percentage : '' %>" required>
                        </div>

                        <div class="text-center">
                          <button type="submit" class="btn btn-success">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rightbar-overlay"></div>

            <!-- in JS -->



            <script src="/assets/js/vendor.min.js"></script>
            <script src="/assets/libs/morris-js/morris.min.js"></script>
            <script src="/assets/libs/raphael/raphael.min.js"></script>
            <script src="/assets/js/pages/dashboard.init.js"></script>
            <script src="/assets/js/app.min.js"></script>
          </div>
</body>

</html>