<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard | Simple - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Responsive bootstrap 4 admin template" name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!-- App css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%-include('header')%>
      <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
      <%-include('sidebar')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h4 class="header-title mb-3">Welcome!</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card-box widget-inline">
                    <div class="row">
                      <div class="col-xl-3 col-sm-6 widget-inline-box">
                        <div class="text-center p-3">
                          <h2 class="mt-2">
                            <i class="text-primary mdi mdi-access-point-network mr-2"></i>
                            <b>
                              <%= totalSalesCount %>
                            </b>
                          </h2>
                          <p class="text-muted mb-0">Total sales</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 widget-inline-box">
                        <div class="text-center p-3">
                          <h2 class="mt-2">
                            <i class="text-teal mdi mdi-airplay mr-2"></i>
                            <b>₹<%= totalSalesAmount.toFixed(2) %></b>
                          </h2>
                          <p class="text-muted mb-0">Total sales amount</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 widget-inline-box">
                        <div class="text-center p-3">
                          <h2 class="mt-2">
                            <i class="text-info mdi mdi-black-mesa mr-2"></i>
                            <b>
                              <%= totalUsers %>
                            </b>
                          </h2>
                          <p class="text-muted mb-0">Total users</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6">
                        <div class="text-center p-3">
                          <h2 class="mt-2">
                            <i class="text-danger mdi mdi-cancel mr-2"></i>
                            <b>
                              <%= totalReturned %>
                            </b>
                          </h2>
                          <p class="text-muted mb-0">Total returned products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9 ">
                  <canvas id="salesChart" class="p-2" style="border:1px solid" height="60rem" width="100%"></canvas>
                </div>
                <div class="col-lg-3 ">
                  <h2>Chart operations</h2>
                  <label for="period" class="form-label">Filter :</label>
                  <select id="filterPeriod" name="period" class="form-control">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                  </select>
                </div>
              </div>
              <div class="pb-5"></div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card-box">
                    <h5 class="mt-0 font-14 mb-3">Best selling products</h5>
                    <div class="table-responsive">
                      <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                        <thead>
                          <tr>
                            <th>Sl.no</th>
                            <th>Name</th>
                            <th>Sale</th>
                          </tr>
                        </thead>
                        <tbody><%= console.log(topProducts); %>
                          <% if(topProducts && topProducts.length>0){ %>
                          <% for(key=0;key<topProducts.length;key++){ %>
                            <tr>
                              <td>
                                <%=key+1%>
                              </td>
                              <td>
                                <%= topProducts[key].Product.Name %>
                              </td>
                              <td>
                                <%= topProducts[key].totalQuantity %>
                              </td>
                            </tr>
                            <%}%>
                            <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card-box">
                    <h5 class="mt-0 font-14 mb-3">Best selling Categories</h5>
                    <div class="table-responsive">
                      <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                        <thead>
                          <tr>
                            <th>Sl.no</th>
                            <th>Name</th>
                            <th>Sale</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(key=0;key<topCategories.length;key++){ %>
                            <tr>
                              <td>
                                <%= key+1 %>
                              </td>
                              <td>
                                <%= topCategories[key].categoryName %>
                              </td>
                              <td>
                                <%= topCategories[key].totalQuantity %>
                              </td>
                            </tr>
                            <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card-box">
                    <h5 class="mt-0 font-14 mb-3">Best selling Brands</h5>
                    <div class="table-responsive">
                      <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                        <thead>
                          <tr>
                            <th>Sl.no</th>
                            <th>Name</th>
                            <th>Sale</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(key=0;key<topBrands.length;key++){ %>
                            <tr>
                              <td>
                                <%= key+1 %>
                              </td>
                              <td>
                                <%= topBrands[key].brandName %>
                              </td>
                              <td>
                                <%= topBrands[key].totalQuantity %>
                              </td>
                            </tr>
                            <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Chart js -->
        <script>
          let salesChart;

          async function fetchData(timeframe) {
            const response = await fetch(`/admin/dashboardChart/${timeframe}`);
            const data = await response.json();
            return data;
          }


            document.getElementById('filterPeriod').addEventListener('change',(event)=>{
             const timeframe = event.target.value

              updateChart(timeframe);
            })
            async function updateChart(timeframe){
              const data = await fetchData(timeframe);

            if (salesChart) {
              salesChart.destroy();
            }

            const ctx = document.getElementById('salesChart').getContext('2d');
            salesChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                responsive: true,
                scales: {
                  x: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Time'
                    }
                  },
                  y: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Total Sales'
                    },
                    beginAtZero: true,
                    ticks: {
                      stepSize: 1,
                      precision: 0
                    }
                  }
                },
                plugins: {
                  tooltip: {
                    callbacks: {
                      label: function (context) {
                        return `Total Sales: ${context.parsed.y}`;
                      }
                    }
                  }
                }
              }
            });
            }
            
          

          // Load default chart
          updateChart('Daily');
        </script>


        <!-- Vendor js -->
        <script src="/assets/js/vendor.min.js"></script>

        <script src="/assets/libs/morris-js/morris.min.js"></script>
        <script src="/assets/libs/raphael/raphael.min.js"></script>

        <script src="/assets/js/pages/dashboard.init.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.min.js"></script>

</body>

</html>