<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard | Simple - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Responsive bootstrap 4 admin template" name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!-- App css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%-include('header')%>
      <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
      <%-include('sidebar')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
          <div class="content">

            <!-- Start container-fluid -->
            <div class="container-fluid">
              <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1" style="background-color: transparent;">
                <a href="/admin" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
                <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                <a class="menu-link menu-link_us-s text-uppercase fw-medium">Orders</a>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="mb-3" style="font-size: 1.25rem; font-weight: bold;">Products</span>
                    <% if (addProductMsg && addProductMsg.length> 0) { %>
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>
                          <%= addProductMsg[0] %>
                        </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>

              <!-- end row -->

              <div class="row container-fluid border">
                <!-- <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact No.</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td class="move-right"><a class="btn btn-warning">Edit</a><a class="btn btn-danger">Delete</a></td>
                              </tr>
                              
                            </tbody>
                          </table> -->
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>

                      <th>Sl No.</th>
                      <th>Order Id</th>
                      <th>User name</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Object.keys(orderObj).forEach((key, index)=> { %>
                      <tr>
                        <td>
                          <%= index + 1 %>
                        </td>
                        <td>
                          <%= orderObj[key].OrderId %>
                        </td>
                        <td>
                          <%= orderObj[key].UserId.Name.toUpperCase() %>
                        </td>
                        <td>
                          <% const timestamp= orderObj[key].createdAt;
                             const date=new Date(timestamp); const formattedDate=date.toISOString().split('T')[0]; %>
                          <%= formattedDate %>
                        </td>
                        <td>
                          <%= orderObj[key].Orderstatus %>
                        </td>
                        <td>
                          ₹<%= orderObj[key].TotalAmount %> for <%= orderObj[key].Products.length %> items
                        </td>
                          <td class="text-right">
                            <a href="/admin/viewOrder?id=<%=orderObj[key]._id%>"
                              class="btn btn-warning">View</a>
                          </td>
                        <% }); %>

                  </tbody>
                </table>
              </div>
              <!--end row -->


            </div>
            <!-- end container-fluid -->





          </div>
          <!-- end content -->

        </div>

        <!-- END content-page -->

  </div>
  <!-- END wrapper -->





      <!-- Right bar overlay-->
      <div class="rightbar-overlay"></div>


      <!-- Vendor js -->
      <script src="/assets/js/vendor.min.js"></script>

      <script src="/assets/libs/morris-js/morris.min.js"></script>
      <script src="/assets/libs/raphael/raphael.min.js"></script>

      <script src="/assets/js/pages/dashboard.init.js"></script>

      <!-- App js -->
      <script src="/assets/js/app.min.js"></script>

</body>

</html>